<div class="about-main">
  <h2>STORE MANUALとは</h2>
  <p>
    忙しい日々の業務の中ではなかなか疑問に思う事を質問できない。
  </p>
  <P>
    そんなみんなの為に作ったwebアプリケーションです。
  </p>
  <p>
    コメントも自分が投稿したという事も知られたりしないので動画マニュアルの中で気になる事などあればどんどん質問しよう！
  </p>
</div>