header {
  padding: 10px;
  border-bottom: 1px solid #D8D8D8;
  background-color: rgba(107, 205, 253,0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 100px;
  font-family: "HanziPen SC";
}

.header__bar.row{
  position: relative;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 660px;
  font-size: 20px;
  line-height: 1.2em;
}

nav {
  position: relative;
  top: -70px;
  font-size: 20px;
}

.container {
  padding-left: 30px;
  padding-top: 100px;
}

.title {
  font-size: 30px;
  padding: 35px 0;
  color: #35b72c;
  float: left;
}

.index-data {
  font-size: 20px;
}

.index-data-name {
  color: #271206;
  font-size: 20px;
  line-height: 2em;
}

.index-data-content {
  color: #0a0a25;
  width: 600px;
  padding-left: 50px;
  font-size: 16px;
}

.index-cell {
  color: #0a0a25;
}

table {
  border: 2px solid #7facc9;
}

thead th {
  border-bottom: 2px solid #7facc9;
}

tbody td {
  border-bottom: 1px dashed #cccccc;
}

.index-data-viewing {
  font-size: 18px;
  padding: 0 15px;
  border-right: 1px dashed #cccccc;
  border-left: 1px dashed #cccccc;
}

.index-data-updata {
  font-size: 18px;
  padding: 0 15px;
  border-right: 1px dashed #cccccc;
}

.index-data-delete {
  font-size: 18px;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

body {
  height: 1600px;
}

.navbar-brand {
  padding-bottom: 5px;
  display: inline-block;
}

.dropdown-item {
  padding: 5px 0;
  display: inline-block;
}

.heading {
  display: inline-block;
}

.search-form {
  display: inline-block;
}

.search-input {
  width: 500px;
  height: 23px;
  vertical-align: 5px;
  margin-left: 15px
}

.search-btn {
  vertical-align: 5px;
  margin-left: 2px;
}

.show-title {
  font-size: 24px;
}

.show-content {
  font-size: 16px;
}

.show-movie {
  font-size: 16px;
}

.content-main {
  line-height: 2em;
  font-size: 16px;
}

.movie-main {
  width: 400px;
}

.delete-btn {
  background-color: #d8b0b0;
  border-radius: 15px;
  font-size: 15px;
  padding: 5px;
}

#comments {
  font-size: 15px;
}

.name-field {
  width: 150px;
  height: 20px;
  margin-top: 8px;
  font-size: 18px;
}

.mail-field {
  width: 350px;
  height: 20px;
  margin-top: 3px;
  font-size: 16px;
}

.container-login {
  text-align: center;
  margin-top: 100px;
}

.main-title {
  text-align: center;
}

/* .pagination {
  font-size: 12px;
  display: inline-block;
  top: 0;
} */

.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a { 
  background: #93c9ff;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}

.about-main {
  padding: 200px 0 100px;
  text-align: center;
  width: 100%;
  background-image: url("/images/ramen.png");
  color:#171212;
  background-size: 300px;
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
  font-family: 'Noto Sans JP', sans-serif;
}

.about-main h2 {
  font-size: 64px;
  font-weight: 500;
  line-height: 1.4;
  font-family: 'Noto Sans JP', sans-serif;
}

.about-main p {
  font-weight: 200;
  font-size: 20px;
  font-family: 'Noto Sans JP', sans-serif;
}

html, body {
  height: 100%;
}